.fl-page { width: auto; overflow-x: hidden;}
.fl-content { margin: 0;}
.hidden { display: none;}

/* Navigation Dropdown arrow for Sub-Menu */

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


/* Header Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Slick Slider CSS*/

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
    outline: none;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Breadcrumbs */

.breadcrumbs {
    font-size: 90%;
    padding: 15px;
}

.breadcrumbs a {
    font-size: 100%;
}


/* Tabs CSS Here */

.fl-tabs-label.fl-tab-active {
    border-color: transparent;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100%;
    margin: 20px 0;
    padding: 0;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}


/* Tabs 2 */

.tabs-2 .fl-tabs-panels {
    border-color: transparent;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}


/* Tabs 3 */

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px;
    max-width: 1020px;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #383838;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    padding-bottom: 30px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0;
    margin: 0;
    background-color: #FAFAFA;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}


/* Tabs 4 */

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}


/* Tabs 5 */

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}


/* Product Tab */

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/* Location Row */

.location-row a {
    color: #808080;
}

.location-top a {
    color: #2d2d2d;
    font-weight: 700;
}

.location-top .fl-button {
    width: 100%;
    text-align: center;
}

/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}

/* Product Row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

.product-row>div.col-md-4:nth-child(3n+1) {
    clear: left;
}

.product-row>div.col-md-3:nth-child(4n+1) {
    clear: left !important;
}
@media (max-width:768px){
    .facetwp-template .product-grid .product-row > .col-md-4 { width: 33.33%; float: left; clear: none !important;}
    .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n+1){ clear: left !important;}
}
@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center;
    }
    .product-row.featured h4 {
        margin-bottom: 20px;
    }
}
@media (max-width: 599px){
    .facetwp-template .product-grid .product-row > .col-md-4 { width: 48%;}
    .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n+1){ clear: none !important;}
    .facetwp-template .product-grid .product-row > .col-md-4:nth-child(2n+1){ clear: left !important;}
}
@media (max-width: 479px){
    .facetwp-template .product-grid .product-row > .col-md-4 { width: 100%; clear: left !important;}
}

/* Product Grid */

.swatch-thumb {
    max-height: 238px;
    overflow: hidden;
}

.swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid.swatch {
    text-align: center;
}

.product-grid.rooms {
    text-align: left;
}

.product-grid.featured {
    text-align: center;
}

.product-grid.swatch h2 {
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.swatch h4 {
    font-size: 10px;
    margin: 5px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid.rooms h2 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.rooms h4 {
    font-size: 10px;
    margin: 5px 0 5px 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.strike-price {
    color: #929292;
    text-decoration: line-through !important;
    margin-right: 10px;
}

.sale-price {
    font-weight: 700;
    color: #212121;
}

.product-grid.featured h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.product-grid.featured h4 {
    font-size: 10px;
    margin: 10px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    color: #929292;
}

.product-grid .fl-button {
    margin-bottom: 10px;
}

.product-grid .fl-button-text {
    font-size: 12px;
}

.product-grid a {
    text-decoration: none;
    font-size: 13px;
}

.product-grid a.link {
    color: #929292;
}

.product-grid a.link:hover {
    text-decoration: underline;
    color: #929292;
}

.product-grid a.greylink {
    color: #908c7b;
}

.product-grid a.greylink:hover {
    text-decoration: underline;
    color: #908c7b;
}

.product-grid .swatch-thumb img {
    width: 100%;
    height: auto;
}

.product-grid .fl-post-grid-post {
    margin-bottom: 40px;
}

.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a {
    display: flex;
    flex-wrap: wrap;
    min-height: 220px;
    align-items: center;
}

.product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    width: auto;
}


/* Facet CSS */

.facetwp-facet select {
    width: 100%;
    padding: 10px;
}

.facetwp-selections ul li {
    font-size: 16px;
}


/* Facet Per Page */

.facetwp-per-page {
    text-align: right;
}

.facetwp-per-page select {
    padding: 5px;
}


/* Facet Pager */

.facetwp-pager {
    float: right;
}

.bottom-pager .facetwp-pager {
    float: none;
    text-align: center;
}

.facetwp-pager span.pager-text {
    font-size: 14px;
    padding-right: 10px;
}

.facetwp-pager span.pager-arrow {
    font-size: 28px;
}

.facetwp-pager a {
    color: #929292;
    vertical-align: middle;
}

.facetwp-pager a:hover {
    text-decoration: none;
}


/* Facet Page */

.facetwp-page {
    display: inline-block;
    padding: 0px 4px;
    margin-right: 6px;
    cursor: pointer;
}

.product-count {
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.9);
}

.faceted_results {
    margin-top: 20px;
}

/* Facet Filters */
.facet-wrap {
    display: none;
}

.facet-wrap.is-hidden {
    display: none !important;
}

.facet_filters .facetwp-facet {
    margin-bottom: 25px;
}

.facet_filters strong {
    font-size: 16px;
    color: #630A0A;
    display: block;
    margin: 0 0 10px;
}

.facet-inner {
    max-height: 360px;
    overflow: auto;
}
.facet_filters .close_bar{
    background: none !important;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.facet_filters .close_bar .close{
    color: #000 !important;
    font-size: 25px;
}

/* Product Box */

.product-box {
    text-align: left;
}

.button-wrapper a.button {
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    display: block;
    text-align: center;
    background-color: transparent;
    border-color: #767676;
    color: #767676;
    margin-bottom: 20px;
}

.button-wrapper a.button:hover {
    text-decoration: none;
    background-color: #767676;
    border-color: #fff;
    color: #fff;
}

.button-wrapper a.button.alt {
    background: #767676;
    border-color: #767676;
    color: #fff;
}

.button-wrapper a.button.alt:hover {
    background-color: transparent;
    border-color: #767676;
    color: #767676;
}

.button-wrapper a:not(.button) {
    width: 48%;
    display: inline-block;
    text-align: right;
    padding: 0 10px;
    color: #767676;
}

.button-wrapper a:not(.button):hover {
    color: #000;
}

.button-wrapper a:not(.button)~a:not(.button) {
    text-align: left;
}

.product-box h1 {
    margin: 0;
    padding: 0;
    text-transform: none;
    font-weight: 700;
}

.product-box h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
}


/* Product Colors */

.product-colors ul {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.product-colors ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.product-colors ul li.found {
    font-size: 5rem;
    padding-right: 15px;
    font-weight: 300;
}


/* Product Attributes */

.product-atts ul {
    margin: 40px 0 0 0;
    padding: 0;
    color: #008c8c;
}

.product-atts ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-atts a.fl-button {
    padding: 10px 40px;
}

.product-attributes {
    text-transform: capitalize;
    margin-bottom: 80px;
    margin-top: 60px;
}

.product-attributes table th,
.product-attributes table td {
    padding: 12px;
}

.product-attributes table th {
    width: 30%;
}

.product-attributes table td {
    width: 70%;
}


/* Product Swatch */

.product-swatch {
    text-align: center;
}

.product-swatch .img-responsive {
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
    position: relative;
}

.product-swatch .img-responsive .popup-overlay-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product-swatch .img-responsive img {
    display: none;
    margin: 0 auto;
}
@media (max-width:479px){
    .product-swatch .img-responsive{
        min-height: 300px;
    }
}


/* Product Variation */
.product-variations {
    margin: 80px 0 50px 0;
}
.product-variations img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
}
.product-variations .slick-slider .slick-arrow{
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    text-align: center;
    width: 30px;
    float: left;
    background:none;
    font-size: 0px;
    top: 35%;
    border: none;
    text-decoration: none;
}
.product-variations .slick-slider .slick-arrow:after{
    font: normal normal normal 30px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.product-variations .slick-slider .slick-arrow.slick-disabled{
    opacity: 0;
}
.product-variations .slick-slider .slick-prev{
    left: -30px;
    display: inline-block;
}
.product-variations .slick-slider .slick-prev:after{    
    content: "\f104";
}
.product-variations .slick-slider .slick-next{
    right: -30px;
    display: block;
    float: right;
}
.product-variations .slick-slider .slick-next:after{
    content: "\f105";
}

img.product-logo {
    max-width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}

/* Color Box */
.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}
.color-box small {
    font-size: 80%;
}
.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}
.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}

/* Product Images Thumbnail */

.toggle-image-thumbnails {
    margin: 20px 0 0;
}

.toggle-image-thumbnails.slick-slider {
    padding: 0 15px;
}

.toggle-image-thumbnails.slick-slider .slick-list {
    margin: 0 -5px 0 -7px;
}

.toggle-image-thumbnails a.arrow {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.toggle-image-thumbnails a.arrow.next {
    left: auto;
    right: 0;
}

.toggle-image-thumbnails a.arrow.slick-disabled {
    opacity: 0;
}

.toggle-image-thumbnails.vertical-slider {
    margin: 0;
}

.toggle-image-thumbnails.vertical-slider.slick-slider {
    padding: 25px 0;
}
@media (min-width:769px){
    .toggle-image-thumbnails.vertical-slider a.arrow {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        line-height: 0;
    }
    
    .toggle-image-thumbnails.vertical-slider a.arrow.next {
        top: auto;
        bottom: 0;
    }
    
    .toggle-image-thumbnails.vertical-slider a.arrow.slick-disabled {
        opacity: 0.3;
    }
}

.toggle-image-thumbnails .toggle-image-holder a {
    outline: none;
    border: 3px solid white;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails .toggle-image-holder a.active {
    border-color: #1a1919;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/* Rug Shop Trading Products */

.products-list .product-list {
    margin: 0 -40px;
    padding: 0;
    list-style: none;
}

.products-list .product-list:after {
    content: "";
    display: table;
    clear: both;
}

.products-list .product-list li {
    width: 25%;
    margin: 15px 0;
    float: left;
    text-align: center;
}

.products-list.column-3 .product-list li {
    width: 33.33%;
}

.products-list.column-2 .product-list li {
    width: 50%;
}

.products-list .product-list li .product-inner {
    margin: 0 20px;
}

.products-list .product-list li .product-img-holder {
    margin: 0 0 20px;
}

.products-list .product-list li .product-info h6 {
    margin: 0;
    color: #bdbdbd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info h4 {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
}

.products-list .product-list li .product-info h4 a {
    color: #333;
}

.products-list .product-list li .product-info h4 a {
    color: #428bca;
}

.products-list .product-list li .product-info .price-section span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info .price-section span.price {
    color: #e08d2b;
    font-size: 33px;
}

.products-list .product-list li .product-info .price-section span.sale {
    color: #e08d2b;
    font-size: 12px;
}

.products-list .product-list li .button-section {
    margin: 20px 0 0;
}

.products-list .product-list li .button-section a.button {
    padding: 12px 24px;
    background: #00247a;
    border: 1px solid;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 5px;
}

.products-list .product-list li .button-section a.button:hover {
    background: #fff;
    color: #a0332e;
}

.products-list .product-list li .button-section .brand-wrap {
    font-size: 12px;
    color: #908c7b;
    text-transform: uppercase;
}


/* Image Gallery Modal */

body.modal-open {
    overflow: hidden;
}

.active-gallery-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.active-gallery-modal:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

body.modal-open .active-gallery-modal {
    overflow: auto;
    z-index: 1000;
}

.active-gallery-modal .fl-row-content-wrap {
    width: 1200px;
    max-width: 100%;
    margin: 50px auto 0;
    background: #fff;
    padding: 0;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.active-gallery-modal .fl-row-content-wrap>.row {
    align-items: center;
}

.active-gallery-modal .content {
    display: table;
    width: 100%;
    position: relative;
}

.active-gallery-modal .content>* {
    display: table-cell;
    float: none;
}

.active-gallery-modal .product-box {
    padding: 30px 50px;
    position: static;
}

.active-gallery-modal .collection {
    text-transform: uppercase;
    font-size: 14px;
}

.active-gallery-modal .fl-post-title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.active-gallery-modal .contact_us {
    background-color: transparent;
}

.active-gallery-modal .contact_us span {
    color: #bca648;
}

.active-gallery-modal .contact_us:hover span {
    color: white;
}

.active-gallery-modal .col_swatch {
    background-size: cover;
}

.active-gallery-modal .close_modal {
    position: absolute;
    color: #554e46;
    font-size: 30px;
    top: 0px;
    right: 20px;
}

.gallery-modal {
    display: none;
}

.open-gallery-modal {
    cursor: pointer;
}

.active-gallery-modal .gallerySlider .gallery-img-holder img {
    width: 100%;
}

.active-gallery-modal .gallerySlider .slick-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 7;
    cursor: pointer;
    background: #767676;
    padding: 10px 15px;
    font-size: 16px;
    color: #dedddd;
}

.active-gallery-modal .gallerySlider .slick-arrow.next {
    left: auto;
    right: 0;
}

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}
.active-gallery-modal .fl-row-content-wrap>.row{
    display: flex;
    flex-wrap: wrap;
}
.active-gallery-modal .gallerySlider .slick-arrow{
    font: 18px/1 FontAwesome;
}
.active-gallery-modal .gallerySlider .gallery-img-holder img{
    max-height: 600px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}


/* Color Box */

.color-box {
    margin-bottom: 30px;
    line-height: normal;
    min-height: 180px;
}

.color-box small {
    font-size: 80%;
}

.product-brand {
    text-transform: uppercase;
    font-size: 0.85em;
    margin-bottom: 0;
    min-height: 20px;
    letter-spacing: 2px;
}


/* Social Icons */

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    width: 25px;
    text-align: center;
}

ul.social-icons li a i {
    font-size: 23px;
}

ul.social-icons li a:hover i {
    color: #f1463c;
}

ul.social-icons li a[title^="angiesList"] {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 20px;
    top: 5px;
}

ul.social-icons li a[title^="angiesList"]:before {
    position: absolute;
    background: #fff;
    top: -4px;
    left: -2px;
    content: '';
    width: 100%;
    height: 15px;
    border: 2px solid #000;
    border-radius: 30px;
}

ul.social-icons li a[title^="angiesList"]:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
}

ul.social-icons li a[title^="angiesList"] .fab:after {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    content: '';
    width: 0;
    height: 0;
    left: 5px;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
}


/* FR Slider */

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 100%;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.fl-slide-mobile-photo-img {
    min-height: 300px;
}


/* Product Details Layout CSS */

.toggle-image-holder {
    display: inline-block;
    vertical-align: top;
}

.product-banner-img {
    min-height: 400px;
    background: no-repeat 100% 60% #DEDDDD;
    background-size: cover;
    margin: 0 0 40px;
}


/* Products Details Layouts */

.fl-page-content .fl-content.product {
    margin: 0px;
}

.product-detail-layout-1 .toggle-image-thumbnails .toggle-image-holder a {
    width: 70px;
    height: 70px;
}

.product-detail-layout-2 .product-swatch,
.product-detail-layout-4 .product-swatch {
    margin: -250px 0 0;
}

.product-detail-layout-2 .product-swatch-inner,
.product-detail-layout-4 .product-swatch-inner {
    background: #fff;
    padding: 50px;
}

.product-detail-layout-2 .product-variations,
.product-detail-layout-4 .product-variations {
    margin: 0;
}

.product-detail-layout-3 a {
    color: #767676;
}

.product-detail-layout-3 a:hover {
    color: #767676;
}

.product-detail-layout-3 .product-variations {
    margin: 30px 0 0;
}

.product-detail-layout-4 .product-attributes {
    margin: 0;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-5 .button-wrapper {
    margin: 30px 0 20px;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    padding: 10px 35px;
    border: 1px solid #767676;
    text-align: center;
    color: #767676;
    background: #fff;
    text-decoration: none;
    margin: 10px 1.5% 25px;
    width: 46%;
}

.product-detail-layout-5 .product-swatch .img-responsive {
    float: right;
    width: calc(100% - 100px);
}

.product-detail-layout-5 .toggle-image-thumbnails {
    width: 100px;
    float: left;
}

.product-detail-layout-5 .product-attributes {
    margin: 30px 0 0;
}

.product-detail-layout-5 .product-variations {
    position: relative;
    margin-top: 15px;
    background-color: #f7f7f7;
}

.product-detail-layout-5 .product-variations .color-box {
    margin-bottom: 15px;
}

.product-detail-layout-5 .product-variations h3 {
    margin: 0 0 15px;
    padding: 20px 0;
}

.product-detail-layout-5 .product-variations:before,
.product-detail-layout-5 .product-variations:after {
    content: "";
    display: block;
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    background: inherit;
}

.product-detail-layout-5 .product-variations:before {
    left: auto;
    right: 100%;
}
@media (max-width:1260px){
    .product-detail-layout-2{ padding: 0 20px;}
}
@media (max-width: 992px) {
    .product-box{ text-align: center !important; margin-top: 20px; width: 100% !important; float: left !important; }
    .product-box .product-colors{ text-align: center !important;}

    .product-detail-layout-2{ padding: 0 20px;}
    .product-detail-layout-2 .fl-post-content > .row{ display: flex; flex-wrap: wrap; }
    .product-detail-layout-2 .fl-post-content > .row .product-swatch{ order:-1; width: 100%;}
    .product-detail-layout-2 .fl-post-content > .row .product-box{ width: 100%;}
    .product-detail-layout-2 .fl-post-content > .row .pdp2-leftbox{ text-align: center;}

}
@media (max-width: 768px){
    .product-detail-layout-5 .product-swatch,
    .product-detail-layout-5 .product-box,
    .product-detail-layout-5 .toggle-image-thumbnails,
    .product-detail-layout-5 .product-swatch .img-responsive{ width: 100%;}
    .product-detail-layout-5 .toggle-image-thumbnails.vertical-slider{ padding-left: 20px; padding-right: 20px;}
    
    .product-variations{ padding:0 20px;}
}

@media (max-width: 580px){
    .button-wrapper br,
    .button-wrapper .divider{ display: none;}    
    .button-wrapper a:not(.button){ margin-bottom: 10px;}
    .button-wrapper a:not(.button),
    .product-detail-layout-4 .button-wrapper .button,
    .product-detail-layout-5 .button-wrapper .button{ display: block; width: auto; text-align: center !important;}

    .product-detail-layout-4 .toggle-image-thumbnails.slick-slider{ margin-left: -30px; margin-right: -30px; }
}
@media (max-width: 360px){
    .product-detail-layout-2 .product-swatch-inner,
    .product-detail-layout-4 .product-swatch-inner{ padding-left: 25px; padding-right: 25px;}
}

/* Spotlights CSS */


/* Spotlight Layout 3 */

.spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content {
    position: relative;
}

.spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top left;
    transform: skew(8deg, 0deg);
    -webkit-transform: skew(8deg, 0deg);
    -moz-transform: skew(8deg, 0deg);
    -o-transform: skew(8deg, 0deg);
    -ms-transform: skew(8deg, 0deg);
}


/* Spotlight Layout 4 */

.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content {
    position: relative;
}

.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: skew(-8deg, 0deg);
    -webkit-transform: skew(-8deg, 0deg);
    -moz-transform: skew(-8deg, 0deg);
    -o-transform: skew(-8deg, 0deg);
    -ms-transform: skew(-8deg, 0deg);
}


/* Spotlight Layout 5 */

.spotlight-layout-5 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-5 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-5 .fl-slide-text,
.spotlight-layout-5 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-5 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676;
}

.spotlight-layout-5 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 6 */

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: right;
    text-align: left;
    width: 55%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-6 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-6 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-6 .fl-slide-text,
.spotlight-layout-6 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-6 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676;
}

.spotlight-layout-6 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 7 */

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: left;
    text-align: left;
    width: 55%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-7 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-7 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-7 .fl-slide-text,
.spotlight-layout-7 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-7 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676;
}

.spotlight-layout-7 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* HP Products Boxes */


/* HP Products 1 */

.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}


/* HP Products 2 */

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}


/* HP Products 3 */

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    font-size: 13px;
    line-height: 24px;
}


/* HP Products 4 */

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}




/* HP Products 6 */

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}


/* HP Products 7 */

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}


/* HP Product 7 */

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-product-7 .text-content {
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-7 .text-img {
    width: 45%;
    float: right;
    text-align: center;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}


/* 500 Coupon Page */
.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
.coupon h3 {
    line-height: 1em;
}
.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}

/* Coupon Banners CSS*/

.couponbanner1 .fl-cta-title,
.couponbanner2 .fl-cta-title,
.couponbanner3 .fl-cta-title {
    padding: 0;
}

.couponbanner1 .fl-cta-button .fl-button .couponbanner2 .fl-cta-button .fl-button,
.couponbanner3 .fl-cta-button .fl-button {
    display: inline-block;
}

a.icon-link {
    position: relative;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

a.phone-icon:before {
    content: "\f095";
}

a.mail-icon:before {
    content: "\2709";
}

a.icon-link:before {
    display: inline-block;
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
    line-height: 1;
}
.error-info {
    border-left-color: #dc3232!important;
}
.fl-post-meta span.fl-post-author, .fl-post-meta span.fl-sep {
    display: none !important;
}

@media (max-width: 768px) {
    .facet_filters{ z-index: 9991;}
    .facet_filters .close_bar{ display: block;}
    #product-list-top-filters .fl-col-group .fl-col{ width: 100% !important; text-align: center;}
    .open_sidebar, .facetwp-counts, .facetwp-per-page, #product-list-top-filters .fl-heading{ text-align: center !important;}
    .facetwp-pager{ float: none; margin-top: 10px;}
    .open_sidebar a{ float: none !important;}
}